aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
git+https://github.com/boatx/command_manager@c0c2431fcf67c85bde188f37bbe5715e20138817#egg=command-manager
idna==2.8
multidict==4.7.3
yarl==1.4.2
